.console {
    background: #25262f;
    color: #f7f7f7;
    padding: 1rem;
    border-radius: 0.5rem;
    margin-top: 1em;
    /* Sticky console 
    position: fixed;
    bottom: 1em;
    left: 1em;
    right: 1em;
    z-index: 2;
    */
}
